/*Global*/
:root {
    --primaryFont: 'Poppins', sans-serif;
    --secondaryFont: 'Volkhov', serif;

    --primaryO: #FA7436;
    --paragraph: #666666;
    --primaryB: #222222;
    --colorB-1: #444444;
    --white: #FFFFFF;
    --white2: #FEFCFB;
    --whiteGray: #CCCCCC;
    --yellowOrange: #FD8D3A;
}

body{
    background-color: var(--whiteGray);
}
/*button*/
.btn1 {
    background-color: var(--primaryO);
    color: var(--white);
    border-radius: 5px;
    border: none;
    width: auto;
    padding: 0.75rem 3rem;
    font-weight: bold;
}

.btn2 {
    background-color: var(--white);
    color: var(--primaryO);
    border-radius: 5px;
    border: none;
    width: auto;
    padding: 0.75rem 3rem;
    font-weight: bold;
}

.btn3 {
    background-color: var(--white);
    color: var(--primaryO);
    border-radius: 5px;
    border-color: var(--primaryO);
    width: auto;
    padding: 0.75rem 3rem;
    font-weight: bold;
}
/*section typeB*/
h1, h2 {
    font-family: var(--secondaryFont);
    font-weight: bold;
    color: var(--primaryB);
}

span {
    font-family: var(--secondaryFont);
    font-weight: bold;
    color: var(--primaryO);
}

p {
    font-family: var(--primaryFont);
    color: var(--primaryB);
}